.goalSetting-wrapper {
    background: white;
    margin: auto;
    width: 83%;
    padding: 25px 0px;
    margin-bottom: 20px;
}
.goalSetting-wrapper .ant-row {
    width: 60%;
    margin: auto !important;
}
.goalSetting-wrapper .ant-row h4 {
    text-align: left;
}
.goalSetting-wrapper h4 small {
    color: #626567;
}
.goalSetting-wrapper .ant-col-12 {
    width: 80%;
}
.goalSetting-wrapper .ant-slider-track {
    background: #48C9B0 ;
}