.goals {
    margin-left: 200px;
}
.goals h3 {
    text-align: left;
    margin-top: 0;
    font-weight: 400;
    color: #282c34;
}
.goalsChart {
    color: #f6f6f6;
}
.recharts-surface {
    font-size: 14px;
    font-weight: bold;
}
.recharts-cartesian-grid line {
    display: none;
}
.recharts-cartesian-axis-line {
    display: none;
}
.recharts-default-legend {
    display: none;
}
.recharts-layer {
    width: 50px;
} 
.recharts-cartesian-axis {
    width: 50px;
}
.recharts-yAxis {
    width: 50px;
} 
.yAxis {
    width: 50px;
}