.interestArea-wrapper {
    width: 80%;
    margin: auto;
    background: white;
    padding: 30px 20px;
}
.interestArea-wrapper .slick-next {
    right: 5px;
}
.interestArea-wrapper .slick-prev {
    left: 0px;
    z-index: 9999;
}
.slick-next:before, .slick-prev:before {
    color: black !important;
    font-size: 40px !important;
}
.slideWrapper {
    width: 920px !important;
}
.slideWrapper:focus {
    outline: none !important;
}
.smallSlider {
    width: 660px !important;
}
.interestArea {
    width: 180px;
    height: 400px;
    float: left;
    padding: 10px 30px;
    margin: 0 10px;
    background: white;
    border-radius: 40px;
}
.interestArea:hover {
    box-shadow: 4px 4px 3px 0px #2E4053;
}
.interestArea h2 {
    margin-top: 0px;
    font-size: 20px;
}
.interestArea .smallTitle {
    font-size: 18px;
}
.interestArea img {
    width: 40%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 30px;
}
.companyType {
    font-weight: 600;
    font-size: 14px;
}
/* area colors */
#Financials { border: solid #48C9B0 20px;}
#FinancialsToggled { border: solid #48C9B0 20px; background-color: #48C9B0; color : white; font-weight: bold; }

#Utilities { border: solid #F4D03F 20px;}
#UtilitiesToggled { border: solid #F4D03F 20px; background-color: #F4D03F; color : white; font-weight: bold; }

#Non-Essentials { border: solid #EC7063 20px;}
#Non-EssentialsToggled { border: solid #EC7063 20px; background-color: #EC7063; color : white; font-weight: bold; }

#Essentials { border: solid #5DADE2 20px;}
#EssentialsToggled { border: solid #5DADE2 20px; background-color: #5DADE2; color : white; font-weight: bold; }

#Energy { border: solid #5D6D7E 20px;}
#EnergyToggled { border: solid #5D6D7E 20px; background-color: #5D6D7E; color : white; font-weight: bold; }

#Healthcare {border: solid #E74C3C 20px;}
#HealthcareToggled { border: solid #E74C3C 20px; background-color: #E74C3C; color : white; font-weight: bold; }

#Industrials { border: solid #F39C12 20px;}
#IndustrialsToggled { border: solid #F39C12 20px; background-color: #F39C12; color : white; font-weight: bold; }

#Technology { border: solid #3498DB 20px;}
#TechnologyToggled { border: solid #3498DB 20px; background-color: #3498DB; color : white; font-weight: bold; }

#Telecom { border: solid #8E44AD 20px;}
#TelecomToggled { border: solid #8E44AD 20px; background-color: #8E44AD; color : white; font-weight: bold; }

#Materials { border: solid #34495E 20px;}
#MaterialsToggled { border: solid #34495E 20px; background-color: #34495E; color : white; font-weight: bold; }

#RealEstate { border: solid #16A085 20px;}
#RealEstateToggled { border: solid #16A085 20px; background-color: #16A085; color : white; font-weight: bold; }