.interestArea-wrapper {
    width: 80%;
    margin: auto;
    background: white;
    padding: 30px 20px;
}
.interestArea-wrapper .slick-next {
    right: 0px;
}
.interestArea-wrapper .slick-prev {
    left: 0px;
}
.slick-next:before, .slick-prev:before {
    color: black !important;
    font-size: 30px !important;
}
.slideWrapper {
    width: 920px !important;
}
.slideWrapper:focus {
    outline: none !important;
}
.smallSlider {
    width: 660px !important;
}
.interestArea {
    width: 180px;
    height: 400px;
    float: left;
    padding: 10px 30px;
    margin: 0 10px;
    background: white;
    border-radius: 40px;
}
.interestArea:hover {
    box-shadow: 4px 4px 3px 0px #2E4053;
}
.interestArea h2 {
    margin-top: 0px;
    font-size: 20px;
}
.interestArea .smallTitle {
    font-size: 18px;
}
.interestArea img {
    width: 40%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 30px;
}
.companyType {
    font-weight: 600;
    font-size: 14px;
}
/* area colors */
#Financials { border: solid #48C9B0 20px;}
#Utilities { border: solid #F4D03F 20px;}
#Non-Essentials { border: solid #EC7063 20px;}
#Essentials { border: solid #EB984E 20px;}
#Energy { border: solid #5D6D7E 20px;}
#Healthcare { border: solid #E74C3C 20px;}
#Industrials { border: solid #F39C12 20px;}
#Technology { border: solid #3498DB 20px;}
#Telecom { border: solid #8E44AD 20px;}
#Materials { border: solid #34495E 20px;}
#RealEstate { border: solid #16A085 20px;}