.interestArea-wrapper {
    width: 80%;
    margin: auto;
    background: white;
    padding: 30px 20px;
}
.interestArea-wrapper .slick-next {
    right: 0px;
}
.interestArea-wrapper .slick-prev {
    left: 0px;
}
.slick-next:before, .slick-prev:before {
    color: black !important;
    font-size: 30px !important;
}
.slideWrapper {
    width: 920px !important;
}
.smallSlider {
    width: 660px !important;
}
.interestArea {
    width: 180px;
    height: 400px;
    float: left;
    padding: 10px 30px;
    margin: 0 10px;
    background: white;
    border-radius: 40px;
}
.interestArea h2 {
    margin-top: 0px;
    font-size: 20px;
}
.interestArea .smallTitle {
    font-size: 18px;
}
.interestArea img {
    width: 40%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 30px;
}
.companyType {
    font-weight: 600;
    font-size: 14px;
}
/* area colors */
#financials { border: solid #48C9B0 20px;}
.interestArea.utilities { border: solid #F4D03F 20px;}
.interestArea.consumerDiscretionary { border: solid #EC7063 20px;}
.interestArea.consumerStaples { border: solid #EB984E 20px;}
.interestArea.energy { border: solid #5D6D7E 20px;}
.interestArea.healthcare { border: solid #E74C3C 20px;}
.interestArea.industrials { border: solid #F39C12 20px;}
.interestArea.technology { border: solid #3498DB 20px;}
.interestArea.telecom { border: solid #8E44AD 20px;}
.interestArea.materials { border: solid #34495E 20px;}
.interestArea.realEstate { border: solid #16A085 20px;}