.onboarding {
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    font-family: "Roboto", sans-serif;
    padding-top: 30px;
}
.onboarding p {
    font-size: 23px;
    width: 35%;
    margin: auto;
    font-weight: 600;
}
.onboardingOne {
    background: #34cacc;
}
.onboardingTwo {
    background: #00a7a5;
}
.onboardingTwo p, .onboardingThree p {
    margin-top: 20px;
    margin-bottom: 20px;
}
.onboardingThree {
    /* background: linear-gradient(#fca300, #e56500); */
    background: #60b8bf;
}
/* images and icons */
.onboardingArrow {
    position: absolute;
    bottom: 80px;
    width: 3%;
}
.onboardingArrow:hover {
    opacity: 0.5;
}
.onboardingImage1 {
    width: 30%;
}
.onboardingImage3 {
    width: 25%;
}