.sidebar {
    width: 25%;
    height: 100vh;
    background: #E7E7E7;
    /* position: fixed;  */
    float: left;
    top: 10px;
    color: #282c34;
}
.sidebar button {
    width: 95%;
    margin:auto;
    background: white;
    border: none;
    margin: 5px 0px;
    box-shadow: 0px 3px 5px 0px lightgrey;
}
.sidebar button:hover {
    box-shadow: 0px 1px 0px 0px lightgrey;
}
.sidebar button:focus {
    outline: none !important;
}
.sidebar button h3 {
    font-size: 18px;
    font-weight: 300;
}
.sidebar button p {
    font-weight: 600;
    font-size: 14px;
}